---
layout: page
title: Galerie
eleventyNavigation:
  key: Galerie

---

<div x-data="{open: false}">
    <button @click="open = !open">
        Affiche/Cache dialogue
    </button>
    <dialog :open="open">
        Contenu dialogue
    </dialog>
</div>

<div x-data="{imageUrl:null}">
    <ul>
        <li><img src="/assets/images/thumbnails/animals-1.jpeg" alt="un animal"
            @click="imageUrl = '/assets/images/animals-1.jpeg" ></li>
        <li><img src="/assets/images/thumbnails/animals-2.jpeg" alt="un animal"
            @click="imageUrl = '/assets/images/animals-2.jpeg"></li>
    </ul>
    <div x-show="!!imageUrl" @click.away="imageUrl=null">
        <img :src="imageUrl" alt="">
    </div>
</div>
